.tabs > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: solid 1px #c8c8c8;
    height: 2em;
    font-size: 1.5em;
    text-align: center;
}

.tabs > ul > li {
    display: inline-block;
    position: relative;
}

.tabs > ul > li > a {
    height: calc(2em + 1px);
    display: inline-block;
    padding: 8px 16px;
    color: #c8c8c8;
    border: solid 1px transparent;
    border-top: 2px;
    border-bottom: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

@media (max-width: 650px) {

.tabs > ul {
    font-size: 1.05em;
}

.tabs > ul > li > a {
    padding: 8px;
}

}

.tabs ul > li > a.active {
    border: solid 1px #c8c8c8;
    border-top: solid 2px #00a1ff;
    border-bottom: solid 1px white;
    color: #00a1ff;
    background: white;
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.15);
}

.tabs > ul > li > a:hover  {
    border: solid 1px #c8c8c8;
    border-top: solid 2px #00a1ff;
    border-bottom: none;
}

.tabs .tab-pane {
    display:none;
}

.tabs .tab-pane.active {
    display: block;
}

.tabs .panes {
    padding-top: 1em;
}
